#headbar{
	background-color: orange;
	text-align: center;
	color: white;
	padding-top: 5px; 
	padding-bottom: 5px;

}

#body{
	text-align: left;
	padding-top: 20px;
	padding-left: 250px;
	padding-right: 250px;
	font-size: 20px;
	font-family: arial;
}

#mid{
	width: 1000px;

}

.left{
	width: 350px;
	text-align: center;
	font-size: 18px;
	/*background-color: red;*/
	padding-left: 200px;
	padding-top: 100px;
	font-family: arial;


}

.right{
	width: 350px;
	text-align: left;
	font-size: 18px;
	/*background-color: blue;*/
	float: right;
	padding-bottom: -30px;
	font-family: arial;
}